body {
  margin: 0;
}
body .menu {
  display: grid;
}
body .menu__list {
  margin: 0;
  padding: 0;
}
body .menu__list-item {
  margin: 0;
}
body .menu__list-link {
  text-decoration: none;
  padding: 0;
  color: #333333;
}